@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron text-center">
    <h1>DRIVE-cINe</h1>
    <p>O melhor do cinema ao ar livre, você encontra aqui!</p>
    <img class="img-responsive"src="https://static.vecteezy.com/ti/vetor-gratis/p1/2610659-cinema-ao-ar-livre-vetor.jpg" alt="Intro" />
</div>


