@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Somos uma empresa de drive-in, que após a pandemia, com os cinemas tradicionais fechados, passamos a levar 
    entretenimento com filmes e concertos ao ar livre para todas as pessoas em busca de lazer.</p>
